body{
    
    background-color: #0188FE;
    margin: auto;
    width: 50%;
    padding: 100px;
}
h1{
    font-family: Arial;
    font-style: italic;
    text-align: center;
    font-size:50px;
    
}
h2{
    text-align: center;
}
#box{ background-color: #C1C1C1;
      box-shadow: 1px 1px 100px red;
     margin:auto;
     width: 15em;
    
}
.login , .mdp {

    text-align: center;
    text-transform: uppercase;
    padding : 5px;
    margin: 5px;
    
    
}

#action{
    padding : 5px;
    margin: 5px;
}
#login , #mdp {
    
    padding : 5px;
    display: block;
    margin: 5px;
}

p{
    text-align: center;
    font-size:150%;
}